/*
    Arquivo em css para estilizar a pagina
    do Projeto.
*/

*{
    margin: 0px;
    margin-top: 10px;
}

div{
    min-width: 300px;
    max-width: 600px;
    margin: 10px auto;
    border: 1px solid black;
    
}

button{
    background-color: green;
    color: white;
    font-style: bold;
}

#entrada h1{
    background-color: gray;
    border-radius: 10px;
    padding: 10px;
}

#entrada label{
    display: block;
    font-size: 20px;
    padding: 10px;
}

#entrada textarea{
    display: block;
    margin-left: 5%;
    width: 90%;
    font-size: 20px;
}

#entrada button{
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    padding: 5px;
}

#saida{
    min-height: 300px;
    padding: 10px;
}

#saida .espaco{
    width: 50px;
    height: 40px;
    border: 1 solid #000;
}

#saida img{
    width: 50px;
    height: 40px;
    border: 1px solid purple;
    margin-left: 3px;
}

#alfabeto img{
   width: 100%;
   margin: 10px auto;
}

footer{
    background-color: #aaa;
    padding: 10px;
}

footer p{
    font-size: 18px;
}